In [20]:
##The purpose of Dict is capturing the unordered data from ex IOT 
a={"name" : "kiran","location" : "chennai", "age" : "20"}

In [2]:
print(type(a))

<class 'dict'>

In [3]:
print(isinstance(a,dict))

True

In [19]:
a=[["kiran","20","chennai"],["kumar","madurai","30"]]
print(a[0][2])

chennai

In [7]:
a={"name" : "kiran","location" : "chennai", "age" : "20"}
print(a["name"])
print(a.get("name"))

kiran
kiran

In [8]:
print(a[salary])

NameError: name 'salary' is not defined

In [9]:
print(a.get("salary",0))

0

In [10]:
##All the o/ps will come in List
print(a.keys())
print(a.values())
print(a.items())

dict_keys(['name', 'location', 'age'])
dict_values(['kiran', 'chennai', '20'])
dict_items([('name', 'kiran'), ('location', 'chennai'), ('age', '20')])

In [11]:
##all are based on Keys
print(len(a))
print(max(a))
print(min(a))
print(sorted(a))

3
name
age
['age', 'location', 'name']

In [13]:
##adding a new key value pair & updating the same
print(a)
a["salary"]=100
print(a)
a["salary"]=200
print(a)

{'name': 'kiran', 'location': 'chennai', 'age': '20', 'salary': 100}
{'name': 'kiran', 'location': 'chennai', 'age': '20', 'salary': 100}
{'name': 'kiran', 'location': 'chennai', 'age': '20', 'salary': 200}

In [14]:
##Deleting a key value pair
del a["salary"]
print(a)

{'name': 'kiran', 'location': 'chennai', 'age': '20'}

In [15]:
#Keys name should not be duplicate in same set.If so, latest key value will be considered
a={"name" : "kiran","location" : "chennai", "age" : "20", "name" : "test"}
print(a)

{'name': 'test', 'location': 'chennai', 'age': '20'}

In [16]:
#Popitem will take (cut) last key value pair from the dict
b=a.popitem()
print(a)
print(b)

{'name': 'test', 'location': 'chennai'}
('age', '20')

In [18]:
##Two lists nneds to be considered as dict. One condition is
## that both list length should be same
a=["one","two","three"]
b=[1,2,3]
c=dict(zip(a,b))
print(c)

{'one': 1, 'two': 2, 'three': 3}

In [21]:
#Operators
#1.Arithmetic operator
a=5
b=2
print(a+b)
print(a-b)
print(a*b)
print(a**b) ## exp, a power of b
print(a/b)
print(a%b) ## modulus --> reminder
print(a//b) ##floor division --> Quotient

7
3
10
25
2.5
1
2

In [22]:
##assignment operator
a=4
##relational operator
a=5
b=2
print(a==b)
print(a!=b)
print(a>b)
print(a>=b)
print(a<=b)
print(a<b)

False
True
True
True
False
False

In [23]:
## Logical operator and, or, not
print(True and True)
print(True and False)
print(True or False)
print(not True)
print(not False)

True
False
True
False
True

In [24]:
##Bitwise operator (expl)

In [25]:
## Loops if, while, for

In [28]:
##if loop -> Decision making statement
name="tamil"
mark="50"
if name=="kiran" and mark == "50":
    print("yes")
else:
    print("no")

no

In [29]:
## Nested if
name = "kiran"
mark = 50
if name =="kiran" and mark >35:
    if mark > 60:
        print("first class")
    else:
        print("second class")
else:
    print("fail")

second class

In [32]:
##if - elif  (one condition is satisfied it wont check remaining conditions )
name = "kiran"
mark = 30

# if name == "kiran"  
# print("yes")
if mark ==100:
    print("centum")
elif mark >=90:
    print("A grade")
elif mark <90 and mark >35:
    print("Not A grade")
else:
    print("Fail")

Fail

In [33]:
# While loop (preferably not to be used)
a=1

while a<5: #true
    print(a)
    a=a+1

1
2
3
4

In [37]:
## for loop 
## in built function range(10)
range(10)
list(range(10))
list(range(10,15))

[10, 11, 12, 13, 14]

In [43]:
tuple(range(10))
#list(range(10,15,2))

[10, 12, 14]

In [40]:
for i in range(5):
    print(i)

0
1
2
3
4

In [45]:
a=["hello","welcome","to","tamilbhoomi"]
for i in a:
    print(i)

hello
welcome
to
tamilbhoomi

In [50]:
a="hello welcome to tb, today we are learning python"
a=a.split(" ") ## always function o/p will be in List
print(a)
for i in a:
    if i=="python":
        print("yes python has occured")

['hello', 'welcome', 'to', 'tb,', 'today', 'we', 'are', 'learning', 'python']
yes python has occured

In [51]:
#iterating Dictionary
a={"name" : "kiran","location" : "chennai", "age" : "20"}
for i in a.keys():
    print(i)

name
location
age

In [53]:
for i in a.values():
    print(i)

kiran
chennai
20

In [62]:
for k,v in a.items():
    print(f"key is :{k}")
    print(f"value is:{v}")
    print("key and value is : ",k,v )

key is :name
value is:kiran
key and value is :  name kiran
key is :location
value is:chennai
key and value is :  location chennai
key is :age
value is:20
key and value is :  age 20

In [68]:
## expected o/p from the range of 10-20 a=[10,12,14,16,18] in list

l=[]
for i in range(10,20):
    if (i%2)==0:
        l.append(i)
        print(l)
    #print(l)
#print(l)

[10]
[10, 12]
[10, 12, 14]
[10, 12, 14, 16]
[10, 12, 14, 16, 18]

In [ ]:
##Assignment 1## a = ["test@gmail.com" , "kumar@yahoo.com" , "kiran@gmail.com"]
## output 1 = ["test" , "kiran" ,"kumar"]
## output 2 = ["gmail" , "yahoo"]
##Assignment 2
#a = ["apple" , "apple" , "mango" , "mango" , "orange"]
# output = {"apple" : 2 , "mango" : 2 , "orange" : 1}
# unique fruit list = ["apple" , "mango", "orange"]
# duplicate fruit list ["apple" , "mango"]

In [44]:
##Assignment #1
a = ["test@gmail.com" , "kumar@yahoo.com" , "kiran@gmail.com"]
l = []                   ## empty list
l1= []                   ## empty list
for i in a:
    b=i[0:(i.index('@'))]                   ### starts with 0th index and ends with the index of char @
    l.append(b)
    c=i[(i.index('@')+1):(i.index(".com"))] ### starts with index of char '@' +1 and ends with the index of string '.com'
    if c not in l1:
        l1.append(c)

print(l)
print(l1)

['test', 'kumar', 'kiran']
['gmail', 'yahoo']

In [46]:
##Assignment #2
a      = ["apple" , "apple" , "mango" , "mango" , "orange"]
unique = []              ## empty List
dup    = []              ## empty list
dctn   = {}              ## empty dictionary
for i in a: 
    if i not in unique:  ## Not in unique list - Not the duplicates string which is already present in unique list
        unique.append(i)
    else:
        dup.append(i)    ## duplicates string which is already present in unique list

for i in unique:         ## Iterate the unique list
    dctn[i]=a.count(i)   ## for each unique string in list, count the total number of the same unique string's (iterrate value)
                         ## count in list a. 


print(unique)
print(dup)
print(dctn)

['apple', 'mango', 'orange']
['apple', 'mango']
{'apple': 2, 'mango': 2, 'orange': 1}